@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1200px;
    margin: 50px auto;
}

.full-item {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.425);
    z-index: 9999;
    overflow: auto;
}

.closeModWind {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #c5c0c0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform, background 500ms ease;
}

.closeModWind:hover {
    transform: scale(1.25);
    background: red;
}

/* для вложеного div в full-item */
.full-item>div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 10px;
}

.full-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}

.full-item .item img:hover {
    transform: scale(1.05);
}

.full-item h2,
.full-item p,
.full-item b {
    margin: 10px 20px;
    color: #333;
}

.full-item b {
    color: #5fa36a;
}

.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

.full-item .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}